@import "tailwindcss";

:root {
  --color-primary: #0ea5e9;
  --color-bg-primary: #0f172a;
  --color-bg-secondary: #1e293b;
  --color-text-primary: #f1f5f9;
  --color-text-secondary: #cbd5e1;
  --color-border: #334155;
}

body {
  background-color: var(--color-bg-primary);
  color: var(--color-text-primary);
}

